<div class="container mb-2">
  <div class="row justify-content-md-center ">
  <div class= "col-sm-6 form-container mt-2">
    <h1 class= "text-center">New Article</h1>
    <%= form_with(model: article, local: true) do |form| %>

      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
            <% article.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group mt-2">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group mt-2">
        <%= form.label :text %>
        <%= form.text_area :text, class: "form-control" %>
    </div>

    <div class="form-group mt-2">
        <%= form.label :image %>
        <%= form.file_field :image, class: "form-control", direct_upload: true %>
    </div>
    <div class="form-group checkboxes mt-2">
      <strong>Categories</strong><br />
       <div class="form-group">
         <%= form.collection_select(:category_ids, Category.all, :id, :name, {}, {:multiple => true, :class => 'font-12 form-control js-example-basic-multiple'}) %><br>
       </div>
       </div>

      <div class="actions mb-2">
        <%= form.submit "Create", class: "btn btn-dark btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
</div>
