<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @organization.category_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @organization.article_id %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
